<div class="mrx-card-wrapper card-body d-flex flex-column gap-3">
    <div class="mrx-kanjis">
        <p class="mrx-no-margin-bottom">{{kanjisJoined}}</p>
    </div>
    <div class="mrx-readings">
        <p class="mrx-no-margin-bottom">{{readingsJoined}}</p>
    </div>
    <div class="mrx-senses">
        <ol class="list-unstyled">
            <li *ngFor="let sense of entry.senseElements; index as i">
              {{i + 1}}. {{sense.glosses.join(', ')}}
            </li>
          </ol>
    </div>
</div>