@using System.Diagnostics
@using CommunityToolkit.Maui.Storage
@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.Maui.Devices
@using System.IO.Compression
@using Mio.Reader.Services

@layout MainLayout
@page "/"


<!--Should have different pages instead of a if-else-->
<FluentDesignTheme Mode="DesignThemeModes.Dark" CustomColor=@Configurations.MainColor />
@if (string.IsNullOrEmpty(Configurations.PathToLibrary))
{
    <div class="mx-auto d-flex flex-column align-items-center" style="width:fit-content">
        <h4>No library folder/file has been chosen. Please choose one.</h4>
        <FluentButton Class="rdr-standard-button" OnClick="PickLibraryFolder" IconStart="@(new Icons.Regular.Size20.FolderAdd())" Appearance="Appearance.Accent">Pick Folder/File</FluentButton>
    </div>
}
else
{
    if (plataform == DevicePlatform.WinUI || UnidicDetermined)
    {
        <Library OnBookSelected="@(i => { Navigator.NavigateTo($"/reader?bookIndex={i}");})" />
    }
    else 
    {
        <div class="mx-auto d-flex flex-column align-items-center" style="width:fit-content">
            <h4>Download the Unidic to proceed. It may take a few minute.</h4>
            @{
                bool disabled = false;
            }
            <!--Not sure if the StateHasChanged call there is needed-->
            <FluentButton Class="rdr-standard-button" OnClick="(() => {disabled = true; StateHasChanged();Task.Run(() => DownloadUnidic());})" IconStart="@(new Icons.Regular.Size20.ArrowDownload())" Appearance="Appearance.Accent" Disabled=@disabled>Download</FluentButton>
        </div>
    }
}


@code {
    [Inject]
    IJSRuntime JS { get; set; }
    [Inject]
    NavigationManager Navigator{ get; set; }
    [Inject]
    ConfigurationsService Configurations { get; set; }
    [Inject]
    DataManagementService DataManager { get; set; }
    [Inject]
    LibraryService Lib { get; set; }

    DevicePlatform plataform = DeviceInfo.Current.Platform;
    bool UnidicDetermined { get; set; } = false;

    protected override Task OnInitializedAsync()
    {
        JS.InvokeVoidAsync("changeDirectionToLTR");
        if (plataform == DevicePlatform.Android)
        {
            UnidicDetermined = Directory.Exists(Configurations.PathToUnidic);
            InvokeAsync(() => { StateHasChanged(); });
        }
        return base.OnInitializedAsync();
    }

    private async void PickLibraryFolder()
    {
        if (plataform == DevicePlatform.Android)
        {
            if (!await Utils.RequestStoragePermissions())
                return;
            /*
            * This is a workaraound and should ideally not exist. The problem is that Android refuses to list the files in the directory.
            * I have permissions, have used differente permissions and API's (including Intent and Java), but the system just refuses to return all files in the library fodler.
            * The odd things are that the exact same call on the exact same folder works on another project, and that here one file (jpg) is listed.
            * Until i can figure out what the hell is going on, android only allows to pick specific files, not a library.
            */
            string filePath = await Utils.PickFileAndroid();
            Task task = Task.Run(async () => Lib.Books.Add(new EpubInteraction(await EpubLoader.LoadMetadata(filePath))));
            await task;
            Navigator.NavigateTo("/reader?bookIndex=0");
            return;
        }

        FolderPickerResult result = await FolderPicker.Default.PickAsync();
        if (!result.IsSuccessful)
            return;

        Configurations.PathToLibrary = result.Folder.Path;
        Configurations.Save();
        Debug.WriteLine(Configurations.PathToLibrary);
        InvokeAsync(() => StateHasChanged());
    }

    private async void DownloadUnidic()
    {
        UnidicDetermined = await DataManager.DownloadUnidic();

        InvokeAsync(() => StateHasChanged());
    }
}