@using System.Diagnostics
@using CommunityToolkit.Maui.Storage
@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.Maui.Devices
@using System.IO.Compression
@using Mio.Reader.Services

@layout MainLayout
@page "/"


<!--Should have different pages instead of a if-else-->

<div tabindex="1" @onkeydown=@(e => ShortcutResponder.HandleKeyDown(e))>
    <FluentDesignTheme Mode="DesignThemeModes.Dark" CustomColor=@Configurations.MainColor />
    @if (plataform == DevicePlatform.WinUI)
    {
        if (string.IsNullOrEmpty(Configurations.PathToLibrary))
        {
            <div class="mx-auto d-flex flex-column align-items-center" style="width:fit-content">
                <h4>No library folder. Please choose one.</h4>
                <FluentButton Class="rdr-standard-button" OnClick="PickLibraryFolder" IconStart="@(new Icons.Regular.Size20.FolderAdd())" Appearance="Appearance.Accent">Pick Folder</FluentButton>
            </div>
        }
        else
        {
            <Library OnBookSelected="@(i => { Navigator.NavigateTo($"/reader?bookIndex={i}");})" />
        }

    }
    else
    {
        if (UnidicDetermined)
        {
            <div class="mx-auto d-flex flex-column align-items-center" style="width:fit-content">
                <h4>Choose the Book.</h4>
                <FluentButton Class="rdr-standard-button" OnClick="PickLibraryFolder" IconStart="@(new Icons.Regular.Size20.FolderAdd())" Appearance="Appearance.Accent">Pick File</FluentButton>
            </div>
        }
        else
        {

            <div class="mx-auto d-flex flex-column align-items-center" style="width:fit-content">
                <h4>Download the Unidic to proceed. It may take a few minute.</h4>
                @{
                    bool disabled = false;
                }
                <!--Not sure if the StateHasChanged call there is needed-->
                <FluentButton Class="rdr-standard-button" OnClick="(() => {disabled = true; StateHasChanged();Task.Run(() => DownloadUnidic());})" IconStart="@(new Icons.Regular.Size20.ArrowDownload())" Appearance="Appearance.Accent" Disabled=@disabled>Download</FluentButton>
            </div>
        }
    }
</div>