.rdr-western-viewer {
    position:relative;
    min-width: 595pt;
    min-height: 842pt;
}

.rdr-western-text-block {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

/* Necessary because otherwise the webview will position vertically-written headers at the bottom of the screen with direction rtl*/
h1 {
    direction: ltr;
}

#chapter-title {
    cursor: pointer;
}

p {
    font-size: 16px;
}

.rdr-japanese-viewer {
    position:relative;
}

.rdr-japanese-text-block {
    position:absolute;
    writing-mode: vertical-rl;
    /*This may be counter-intuitve, but is necessary for proper layout. Because in Japanese mode the direction of the container is set
        to RTL, the browser expects the text to be written from right to left, but this is not the case, 
        becasuse Epubs source will be written in the western style and even if they arent the parser should reverse them.
        As such, the browser actually fucks the text layout. The order of characters remains correct because they are laid out explicitly
        but certain characters will be changed to suit the browser expections. Which is why this terribleness has to be done.
    */
    direction: ltr;
}

.rdr-japanese-text {
    writing-mode: vertical-rl;
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.rdr-western-text {
    cursor: pointer;
}

.rdr-navigator {
    position: fixed;
    bottom: 0;
    left: 50%;
    min-width: 150px;
    transform: translateX(-50%);
    direction: ltr;
    background-color: var(--neutral-layer-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--accent-base-color);
    border-radius: 5px 5px 0 0;
}

.rdr-start-animation {
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.toc-japanese {
    max-height: 90vh;
    overflow-y: auto;
}

.toc-western {
    max-height: 100vh;
    overflow-y: auto;
}

#translation-card {
    position: fixed;
    top: 0;
    left: 0;
}

.rdr-inline-img-japanese {
    max-height: 100%;
    height: fit-content
}

.rdr-inline-img-western {
    /*TODO see if 100% is better*/
    max-width: 100vw;
    margin: auto;
}
