@using Mio.Reader.Services
<div style="display:flex">
    @for (int i = 0; i < LibraryService.Books.Count; i++)
    {
        int currentIterationIndex = i;
        EpubMetadata book = LibraryService.Books[currentIterationIndex];
        <div style="display:flex; flex-direction:column; margin: 10px;">
            <!--Not necessarily always a jpeg actually. Should find format in the metadata-->
            <img src=@($"data:image/jpeg;base64,{book.CoverBase64}") style="height: 250px;" />
            <p>@book.Title</p>
            <p>@book.Author</p>
            <button @onclick="() => OnBookSelected.InvokeAsync(currentIterationIndex)">Read</button>
        </div>
    
    }
</div>

@code {

    [Parameter]
    public EventCallback<int> OnBookSelected { get; set; }

    [Inject]
    public LibraryService LibraryService { get; set; }

    protected override void OnInitialized()
    {
        LibraryService.BookAdded += (sender, e) => InvokeAsync(() => StateHasChanged());
        Task.Run(() => LibraryService.Initialize());
    }
}
